<h1>Your Tweets</h1>
<div>
<%= form_for @tweet do |f| %>
	<% if @tweet.errors.any? %>
		<p>There were <%= pluralize(@tweet.errors.count, 'error') %>  with your submission. Please revisit your input and try again. Keep in mind that all tweets need to be between 1 and 140 characters. These were the issues:</p>
		<ul>
			<% @tweet.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>
	<%= f.text_field :status %>
	<%= f.submit %>
<% end %>
</div><br>
<div id="tweets">
<% @tweets.each do |tweet| %>
	<p id="tweet">
	<%= tweet.status %>
	<%= link_to 'edit', edit_tweet_path(tweet.uuid) %>
	</p>
<% end %>
</div><br>
<div class="text-center">
	<%= link_to 'Logout', logout_path %>
</div>

